@{
    ViewData["Title"] = "Home Page";
    var user = Context.Session.GetObject<String>("ssUser_username") ?? "";
}


@{
    if (user == "")
    {
        <div class="text-center">
            <h1 class="display-4">Welcome to WebSchool</h1>
            <h4>This is a student management website using ASP.NET core</h4>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Hello @user</h1>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    }
}

